streamlit
joblib
numpy
pandas
scikit-learn
matplotlib
art==6.1
blinker==1.8.2
brotlipy==0.7.0
conda==23.3.1
DCA==0.3.2
dcapy==0.1.14
dukpy==0.3.0
et-xmlfile==1.1.0
exceptiongroup==1.2.0
Flask==2.0.3
flatbuffers==23.5.26
pytest==7.1.2
scikit-learn==1.0.2
scikit-plot==0.3.7
scipy==1.10.0
seaborn==0.11.2
service-identity 
session-info==1.0.0
shap==0.44.1
simplejson==3.18.4 
slicer==0.0.7
smmap==5.0.1
stdlib-list==0.10.0
streamlit==1.35.0
tables==3.7.0
TBB==0.2
tenacity==8.3.0
tensorboard==2.15.1
tensorboard-data-server==0.7.2
tensorflow==2.15.0
tensorflow-estimator==2.15.0
tensorflow-intel==2.15.0
tensorflow-io-gcs-filesystem==0.31.0
termcolor==2.4.0 
torch==1.12.1
tushare==1.2.89
umap-learn==0.5.5
webencodings==0.5.1
websocket-client==0.57.0
websockets==10.4
Werkzeug==2.0.3
wincertstore==0.2
xgboost==1.7.5
zict==2.1.0
zstandard==0.19.0
